/* リスト関係 */
.list {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: solid 1px #778ca3;
}

.list tr:nth-child(2n) {
    background: #ffffff;
}

.list tr:nth-child(2n+1) {
    background: #e9faf9;
}

.list th,
.list td {
    padding: 10px;
    border-bottom: solid 1px #778ca3;
}

/* 隠し背景 */
body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover ;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
}

.transparent{
    opacity : 0.8;
    border-radius:30px;
}

/* 入力フォーム関係 */
.itemArea{
    padding: 5px;
    margin: 0px;
}

.item {
    width: 50%;
    resize: none;
}

.box{
    height: 100px;
}


.buttonArea {
    margin-top: 8px;
}
