<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="mainArea">
        <div id="listArea">
            <table class="completedList">
                <h3 class="listTitle">完了済みタスク一覧</h3>
                <tr>
                    <th>タイトル</th>
                    <th>期限</th>
                    <th>優先度</th>
                    <th>削除</th>
                </tr>
                <tr th:each="task : ${tasks}">
                    <th class="todo-titles" th:attr="data-description=${task.description}">
                        <span th:text="${task.title}">TodoListをつくる</span></a></th>
                    <th><span th:text="${task.limitDate}">2025/6/5</span></th>
                    <th><span th:text="${task.importance}">1</th>
                    <th><span><a id="compelete_button_delete" class = "complete_button_delete" th:href = "@{/todolist/finishDeleteByTaskId(taskId=${task.taskId})}">
                        <img src="/svg/close_trash.svg" alt="送信" width="32" height="32" x="4" y="4"/></a></span></th>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="~{layout :: footer}"></div>

    <div id="global-popup-content" class="popup-content"></div>
</body>

</html>

<!-- <script>
    window.addEventListener("DOMContentLoaded", function () {
        const bgUrl = localStorage.getItem("bgImage");
        document.body.style.backgroundImage = `url('${bgUrl}')`;
    });
</script> -->