<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="mainArea">
        <div id="listArea">
            <table border="1" class="list">
                <h3 style="padding-top: 10px; text-align: center;">完了済みタスク一覧</h3>

                <form th:action="@{/todolist/finishDelete}" method="get" id="finishDelete">
                    <button type="submit" id="button">削除</button>
                </form>

                <tr>
                    <th>タイトル</th>
                    <th>期限</th>
                    <th>優先度</th>
                </tr>
                <tr th:each="task : ${tasks}">
                    <th><a th:href="@{/todolist/detail(taskId=${task.taskId})}"><span
                                th:text="${task.title}">TodoListをつくる</span></a></th>
                    <th><span th:text="${task.limitDate}">2025/6/5</span></th>
                    <th><span th:text="${task.importance}">1</th>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>

<!-- <script>
    window.addEventListener("DOMContentLoaded", function () {
        const bgUrl = localStorage.getItem("bgImage");
        document.body.style.backgroundImage = `url('${bgUrl}')`;
    });
</script> -->