<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="mainArea registar_background">
        <div>
            <form th:action="@{/todolist/{taskId}/edit(taskId=${task.taskId})}" th:object="${task}" method="post">
                <div>
                    <label for="title" class = "registar_font">予定</label>
                    <a id="button_delete" class = "button_delete" th:href = "@{/todolist/finishDeleteByTaskId(taskId=${task.taskId})}"><img src="/svg/trashbox.svg" alt="送信" width="50" height="50" x="4" y="4"/></a>
                </div>
                <div>
                    <span><textarea type="text" id="title" name="title" th:field="*{title}" maxlength="100" class="registar_textarea" required></textarea>
                </div>
                <label for="limitDate" class="registar_font">日付</label>
                <div class="registar_input">
                    <input type="date" id="limitDate" th:field="*{limitDate}" max="9999-12-31" min="1000-01-01" />
                </div>

                <label for="description" class = "registar_font">詳細</label>
                <div>
                    <textarea id="description" th:field="*{description}" class="registar_textarea" maxlength="5000"></textarea>
                </div>

                <label for="importance" class = "registar_font">優先度</label>
                <div class = "registar_input">
                    <select id="importance" name="importance" th:field="*{importance}">
                        <option value="重要かつ緊急">重要かつ緊急</option>
                        <option value="重要だが緊急でない">重要だが緊急でない</option>
                        <option value="緊急だが重要でない">緊急だが重要でない</option>
                        <option value="重要でも緊急でもない">重要でも緊急でもない</option>
                    </select>
                </div>

                <div class="registar_parent">
                    <button type="submit" class = "registar_button">編集完了</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>