<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="mainArea register_background">
        <!-- <h4 id="title_text" class="title_text">予定の登録をします</h4> -->
        <form type="hidden" th:action="@{/todolist/register}" th:object="${toDoForm}" method="post" id ="hidden">
            <label for="title" id="yotei" class = "register_font">予定</label>
            <div>
                <textarea type="text" id="title" name="title" th:field="*{title}" maxlength="100" class="register_textarea" required></textarea>
            </div>
            <label for="limitDate" class="register_font" id="title_text">日付</label>
            <div class="register_input">
                <input type="date" id="limitDate" th:field="*{limitDate}" max="9999-12-31" min="1000-01-01">
            </div>

            <label for="description" class = "register_font">詳細</label>
            <div>
                <textarea id="description" name="description" th:field="*{description}" maxlength="5000"  class="register_textarea"></textarea>
            </div>
            <label for="importance" class = "register_font">重要度</label>
            <div class = "register_input">
                <select id="importance" name="importance" th:field="*{importance}">
                    <option value="重要かつ緊急">重要かつ緊急</option>
                    <option value="重要だが緊急でない">重要だが緊急でない</option>
                    <option value="緊急だが重要でない">緊急だが重要でない</option>
                    <option value="重要でも緊急でもない">重要でも緊急でもない</option>
                </select>
            </div>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="validation-error"></span>
            <span th:if="${#fields.hasErrors('limitDate')}" th:errors="*{limitDate}" class="validation-error"></span>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-error"></span>
            <div class="register_parent">
                <button type="submit" id = "register_button" class = "register_button">登　録</button>
            </div>
        </form>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>