<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div>
        <h3>予定編集</h3>
        <form th:action="@{/todolist/{taskId}/edit(taskId=${task.taskId})}" th:object="${task}" method="post">
            
            <label for="title">予定</label>
            <div class="itemArea">
                <textarea type="text" id="title" name="title" th:field="*{title}" class=item"
                    required></textarea>
            </div>
            
            <label for="limitDate">日付</label>
            <div class="itemArea">
                <input type="date" id="limitDate" th:field="*{limitDate}" max="9999-12-31" min="1000-01-01">
            </div>

            <label for="description">詳細</label>
            <div class="itemArea">
                <textarea id="description" th:field="*{description}"
                    class=item box"></textarea>
            </div>

            <div class="buttonArea">
                <button type="submit">編集</button>
            </div>
        </form>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>