<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="mainArea">
        <h3 id="display">toDoリストへようこそ！</h3>
        <div class="random_div">
            <span><a th:href="@{/comet}">Comet</a></span>
            <span><a th:href="@{/nexus}">Nexus</a></span>
            <span class="random_title"><a th:href="@{/todolist/listroulette}">リストルーレット</a></span>
        </div>
        <h4>toDo絞り込み</h4>
        <div id="searchArea">
            <form th:action="@{/todolist/search}" method="post">
                <input type="date" id="date" name="selectedDate"
                    th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" min="2000-01-01" max="9999-12-31" />
                <button type="submit" id="item">検索</button>
            </form>
        </div>

        <h3>やることリスト</h3>
        <form th:action="@{/todolist/sortDesc}" method="get" id="descForm">
            <button type="button" id="sortDesc">すべて表示して降順</button>
        </form>

        <form th:action="@{/todolist/sortAsc}" method="get" id="ascForm" style="display: none">
            <button type="button" id="sortAsc">すべて表示して昇順</button>
        </form>
        <div id="listArea">
            <table border="1" class="list">
                <th>チェック</th>
                <th>タイトル</th>
                <th>期限</th>
                <th>優先度</th>
                </tr>
                <tr th:each="task : ${tasks}">
                    <th>
                        <input type="checkbox" th:attr="data-task-id=${task.taskId}" th:checked="${task.checked}"
                            onchange="updateCheckedStatus(this)" />
                    </th>
                    <th>
                        <a th:href="@{/todolist/detail(taskId=${task.taskId})}">
                            <span th:text="${task.title}">TodoListをつくる</span></a>
                    </th>
                    <th><span th:text="${task.limitDate}">2025/6/5</span></th>
                    <th>
                        <span th:text="${task.importance}">1</span>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>

<!-- <script>
    window.addEventListener("DOMContentLoaded", function () {
        let display_moji = document.getElementById("display");
        let enter_date = document.getElementById("date");
        let push = document.getElementById("item");
        const bgUrl = localStorage.getItem("bgImage");
        document.body.style.backgroundImage = `url('${bgUrl}')`;
        push.addEventListener("click", function (event) {
            if (!enter_date.value) {
                event.preventDefault();
                display_moji.innerHTML = "数字を入力してください！";
                display_moji.style.color = "#ED1A3D";
            }
        });
    });

    function updateCheckedStatus(checkbox) {
        const taskId = checkbox.getAttribute("data-task-id");
        const checked = checkbox.checked;

        const token = document.querySelector('meta[name="_csrf"]').getAttribute("content");
        const header = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

        fetch("/todolist/check", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                [header]: token
            },
            body: `taskId=${taskId}&checked=${checked}`,
        }).then((response) => {
            if (response.ok) {
                // 更新成功時の処理
                window.location.reload(); // ページをリロードして更新を反映
            } else {
                // 更新失敗時の処理
                console.error(`Failed to update task ${taskId}.`);
            }
            if (!response.ok) {
                alert("更新に失敗しました");
            }
        });
    }
</script> -->