<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        let display_moji = document.getElementById('display');
        let enter_date = document.getElementById('date');
        let push = document.getElementById('item');
        push.addEventListener('click', function(event) {
            if(!enter_date.value) {
                display_moji.innerHTML = "数字を入力してください！";
                display_moji.style.color = '#ED1A3D';
            }else if("${tasks}"){
                display_moji.innerHTML = "やることが見つかりました！";
                display_moji.style.color = '#0D0116';
            }
        });
    });

    function updateCheckedStatus(checkbox) {
    const taskId = checkbox.getAttribute('data-task-id');
    const isChecked = checkbox.checked;

    fetch('/todolist/updateChecked', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `taskId=${taskId}&checked=${isChecked}`
    }).then(response => {
        if (!response.ok) {
            alert('更新に失敗しました');
        }
    });
}
</script>
<body>
    <div th:replace="~{layout :: header}"></div>
    <h3 id = "display">toDoリストへようこそ！</h3>
    
    <h4>検索</h4>
    <div id="searchArea">
        <form action="/todolist/search" method="post">
            <input type="date" id="date" name="selectedDate" value="2025-06-04" min="2000-01-01" max="2030-12-31" />
            <button type="submit" id = "item">検索</button>
        </form>
    </div>
    
    <h3>やることリスト</h3>
    <div id="listArea">
        <table border="1" class="list">
            <tr>
                <th>チェック</th>
                <th>タイトル</th>
                <th>期限</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <th><input type="checkbox" th:attr="data-task-id=${task.id}" th:checked="${task.checked}" onchange="updateCheckedStatus(this)" /></th>
                <th><span th:text="${task.title}">TodoListをつくる</span></th>
                <th><span th:text="${task.limitDate}">2025/6/5</span></th>
            </tr>
        </table>
    </div>

    <div th:replace="~{layout :: footer}"></div>
</body>

</html>