<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/comet.css}" rel="stylesheet" />
    <link th:href="@{/css/nexus.css}" rel="stylesheet" />
    <script th:src="@{/js/script.js}" defer></script>

    <title>Title</title>
</head>

<body>
    <div th:fragment="header">
        <header class="transparent header-area">
            <h4 id="header-title" class="header-title" style="margin-left: 20px;">toDoリスト</h4>
            <nav id="hamburger-nav" class="hamburger-nav">
                <input type="checkbox" id="menu-toggle" class="menu-toggle" />
                <label for="menu-toggle" class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <div class="menu">
                    <a th:href="@{/todolist}" id="modoru" class="menu-link">ホーム</a>
                    <a th:href="@{/todolist/finish}" id="completed" class="menu-link">完了済みタスク一覧</a>
                    <a th:href="@{/todolist/register}" id="register" class="menu-link">よていをとうろく</a>
                    <a th:href="@{/comet}" id="comet" class="menu-link">comet</a>
                    <a th:href="@{/nexus}" id="nexus" class="menu-link">Nexus</a>
                    <a th:href="@{/login}" id="logout" class="menu-link">ログアウト</a>
                </div>
            </nav>
        </header>
    </div>

    <div th:fragment="footer">
        <footer class="footer-area transparent">
            <h4 class="footer-title">&copy;Project Stella</h4>
        </footer>
    </div>
</body>

</html>
