<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <script>
        window.addEventListener("DOMContentLoaded", function () {
            const register = document.getElementById("register");
            const modoru = document.getElementById("modoru");
            const completed = document.getElementById("completed");

            switch (window.location.pathname) {
                case "/todolist":
                case "/search":
                    if (modoru) modoru.style.display = "none";
                    if (register) register.style.display = "";
                    if (completed) completed.style.display = "";
                    break;
                case "/login":
                case "/userRegister":
                    if (register) register.style.display = "none";
                    if (modoru) modoru.style.display = "none";
                    if (completed) completed.style.display = "none";
                    break;
                case "/todolist/register":
                    if (modoru) modoru.style.display = "";
                    if (register) register.style.display = "none";
                    if (completed) completed.style.display = "";
                    break;
                case "/todolist/finish":
                    if (modoru) modoru.style.display = "";
                    if (register) register.style.display = "none";
                    if (completed) completed.style.display = "none";
                    break;
            }
        });
    </script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <title>Title</title>
</head>

<body>
    <div th:fragment="header">
        <header style="
          background-color: #f8f8f8;
          display: flex;
          align-items: center;
          justify-content: space-between;
        " class="transparent">
            <h4 style="margin: 20px; font-size: 23px">toDoリスト</h4>
            <div style="margin-left: auto; display: flex; align-items: center">
                <a th:href="@{/todolist/finish}" id="completed" style="display: inline; margin: 20px; font-size: 18px; background: none; border: none; cursor: pointer;">
                    完了済みタスク一覧 <i class="fas fa-pen-square"></i>
                </a>
                </form>
                <a th:href="@{/todolist/register}" id="register"
                    style="display: inline; margin: 20px; font-size: 18px">よていをとうろく <i
                        class="fas fa-pen-square"></i></a>
                <a th:href="@{/todolist}" id="modoru" style="display: none; margin: 20px; font-size: 18px">もどる <i
                        class="fas fa-pen-square"></i></a>
            </div>
        </header>
    </div>
    <!--  -->
    <div th:fragment="footer">
        <footer style="background-color: #f8f8f8; text-align: center" class="transparent">
            <h4 style="padding: 8px; font-family: 'Courier New', Courier, monospace">
                &copy;Project Stella
            </h4>
        </footer>
    </div>
</body>

</html>