<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(表示)}"></head>

<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="timeline-container">
        <div th:each="comet : ${comets}" class="comet">
            <div class="username" th:text="${comet.username}">ユーザー名</div>
            <div class="userId" th:text="'@' + ${comet.userId}">ユーザーID</div>
            <div class="content" th:text="${comet.content}">ツイート内容</div>
            <div class="timestamp" th:text="${comet.formattedCreatedAt}">
                タイムスタンプ
            </div>
        </div>
        <a th:href="@{/comet/register}" class="post-link">コメットを投稿する</a>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>

</html>