<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(表示)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <div class="mainArea">
    <div class="comet-post-container">
        <div class="post-title">コメットする</div>
        <form th:action="@{/comet/register}" th:object="${cometForm}" method="post">
            <label for="content" class="content-label">内容</label>
            <textarea id="content" name="content" th:field="*{content}" maxlength="280" required></textarea>
            <button type="submit" class="post-button">投稿</button>
        </form>
    </div>
    </div>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>