<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(表示)}"></head>
<body>
    <div th:replace="~{layout :: header}"></div>
    <form th:action="@{/comet/register}" th:object="${cometForm}" method="post">
        <h3>コメットする</h3>
        <label for="content">内容</label>
        <textarea id="content" name="content" th:field="*{content}" required></textarea>
        <br>
        <button type="submit">送信</button>
    </form>
    <div th:replace="~{layout :: footer}"></div>
</body>
</html>